<div style="background-color: #26954d;">
    <img src="assets/img/invertur.jpg" width="100%" alt="invertur promocion">
</div>
<div class="green-barr">
</div>
<section style="padding-bottom: 220px;" class="margen-principla text-center">
    <div>
        <h1 hidden>CONSUMO</h1>
        <div class="text-center">
            <img src="assets/img/unidades/Logo-INVERTUR.png" height="100px" alt="logo invertur">
        </div>
        <div class="blue-barr"></div>
        <span class="font-text font-myr-regular">
            Dedicada a la Importación, Distribución y Comercialización de productos de consumo, cosméticos e higiénicos. 
        </span>
        <div class="blue-barr"></div>
    </div>
    
</section>
