.font-menu{
    font-size: 11pt;
    text-transform: uppercase;
}

.font-sub_menu{
    font-size: 9pt;
    font-weight: lighter;
}

 /* *{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}  */


.menuMovil{
    display: none;
}

.menu{
    background: rgb(40,74,103);
    background: linear-gradient(180deg, rgba(40,74,103,1) 0%, rgba(40,74,103,1) 20%, rgba(40,74,103,0.008841036414565795) 100%);;
    color: #fff;
    padding: 20px 0 0 0;
    height: 100px;
    width: 100%;
    position:fixed; top:0
}

.menuIdioma{display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 15px 0;
}
.menu_container{
    /* width: 90%; */
    /* max-width: 1400px; */
    height: 100%;
    margin: 0 auto;
    color:#fff;
}

.meu-btns{
    /* display: flex; */
    align-items: center;
}
.menu_links{ 
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}

.menu_item{
    list-style: none;
    position: relative;
}

.menu_link, .menu_link_contact{
    color:#fff;
    padding: 0 35px;
    align-items: center;
}


.menu_link--inside{
    color: black;
    padding: 0 5px;
    flex-direction: column;
    align-items: flex-start;
}

.menu_link, .menu_link--inside{
    text-decoration: none;
    display: flex;
    height: 100%;
}

.menu-nesting {
    left: 0px;
    top: 24px;
}

.menu-nesting-idioma-desktop{
    left: -35px;
    top: 40px;
}

.menu-nesting, .menu-nesting-idioma-mobile, .menu-nesting-idioma-desktop {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.menu-nesting-idioma-mobile{
    left: -35px;
    top: 24px;
}

.nesting-box-content, .nesting-box-content_mobile{
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    padding: 10px 5px 10px 5px;
    width: 110%;
    max-width: 170px;
}


.nesting-box-uparrow{
    height: 17px;
    margin-left: 15px;
}

.nesting-box-uparrow_mobile{
    height: 17px;
    margin-left: 15px;
}

.menu_inside{
    list-style: none;
    padding: 5px 0 3px 0;
}

.menu_inside:hover{
    border-radius:  5px;
    border: solid #e5343b 1px;
}


.menu_item:hover .menu_arrow{
    transform: rotate(90deg);
    transition: transform .3s;
    fill: #e5343b;
}
.menu_item:hover .menu_link{
    color: #e5343b;
}

.menu_item_contact{
    list-style: none;
}

.menu_arrow{
    transform: rotate(0);
    transition: transform .3s;
    fill: #fff;
    transform: msFilter;
}

.idiomaItem{
    display: flex; 
    flex-direction: row; 
    align-items: center;
}

.socialIconsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.white-separator{
    display: block;
    height: 30px; width: 2px;
    background-color: #fff;
    margin: 0 15px 0 15px;
}

.green-separator{
    display: none;
}

.socialIconMobile{
    display:none;
}

.menuMobile{
    display: none;
}


@media screen and (max-width:1000px){
    .menu_link{
        color:#fff;
        padding: 0 20px;
        align-items: center;
    }
}

@media screen and (max-width:900px){
    .menu_link{
        padding: 0 16px;
    }
}

@media screen and (max-width:870px){
    .menu_link{
        padding: 0 12px;
    }
}

@media screen and (max-width:780px){

   
    .menuMovil{
        display: flex;
        justify-content: right;
        margin: 0 3%;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .menu{
        background: rgb(40,74,103);
         color: #fff;
        height: 57px;
        padding: 8px 0 0 0;
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 1;
    }

    .menuIdioma{
        padding:0;
    }

    .idiomaItem{
        display: none;
    }

    .menu_link_mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 5px 0 5px;
    }

    .meu-btns{
        max-width: auto;
    }

    .menu_links{ 
        background-color:white;
        display: flex;
        flex-direction: column;
        flex-wrap: none;
        align-items: start;
        max-width: 80%;
        width: 100%;
        height: auto;
        padding: 25px 0;
        gap: 2px;
        margin-top: 10px;
        border-radius: 0 0 10px 10px;
        
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2); 
    }

    .menu_item{
        width: 100%;
        position: none;
    } 

    .menu_link{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        margin: 1px 10px;
        color: #284a67 !important;
    }

    .menu_arrow{
        fill: #284a67;
    }

    .menu_link:hover .menu_arrow{
        transform: rotate(90deg);
        transition: transform .3s;
        fill: #e5343b;
    }

    .menu_link:hover{
        border: #e5343b 1px solid;
        border-radius: 8px;
        margin: 0px 10px;
    }

    .menu-nesting{
        position: relative;
        left: 0;
        top: 0;
    }

    .nesting-box-uparrow{
        display: none;
    }

    .nesting-box-content{
        background-color: #fff; 
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1); 
        padding: 0;
        max-width: 100%;
    }
    .menu_inside{
        list-style: none;
        padding: 0;
        padding: 10px 2px;
    }

    .menu_item_contact{
        display: flex;
        justify-content: center;
        width: 100%;
        padding-right: 20px;
    }
    
    .menu_inside:hover{
        border-radius:  5px;
        margin-right: 10px;
        padding: 15px 2px;
        border: solid #e5343b 1px;
    }


    .socialIconsContainer{ 
        justify-content: center;
        padding:  0 20px 0 0;
    }
    
    .white-separator{
        display: none;
    }
    .green-separator-container{
        width: 100%; 
        padding: 10px 20px 0 20px;
    }

    .green-separator{
        display: block;
        width: 100%; 
        height: 2px;
        background-color: #284a67;
    }

    .socialIconDesktop{
        display: none;
    }
    .socialIconMobile{
        display:block;
    }

    .desktop{
        display: none;
    }

    .menuMobile{
        display: block;
    }
    
}