.footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* margin: auto; */
}

.font-footer-text{
    font-size: 10pt;
    margin: 0 10px 0 10px;
}

.footer-height{
    height: 186px;
}

