<footer class="footer-height backg-blue text-white text-center footer-container">
    <div class="green-barr">
    </div>
    <div class="social-icons">
        <a href="#">
            <img width="35px" height="35px" src="assets/img/icons/social-18.svg" alt="facebook">
        </a>
        <a href="#">
            <img width="35px" height="35px" src="assets/img/icons/social-19.svg" alt="twitter">
        </a>
        <a href="#">
            <img width="35px" height="35px" src="assets/img/icons/social-20.svg" alt="instagram">
        </a>
        <a href="#">
            <img width="35px" height="35px" src="assets/img/icons/social-21.svg" alt="linkedin">
        </a>
    </div>
    <div>
        <a href="#">
            <button class="font-myr-bold btn-green">CONTACTANOS</button>
        </a>
    </div>
    <div class="font-myr-regular font-footer-text">
        Grupo Invertur, Todos los derechos reservados - copyrigth 2023<br>
        diseño y desarroll por Ennio Sáenz
    </div>
</footer>
