<footer class="footer-height backg-blue text-white text-center footer-container">
    <div class="green-barr">
    </div>
    <div class="social-icons">
        <a href="https://www.facebook.com/people/Grupo-Invertur/100092161627700/">
            <img width="35px" height="35px" src="assets/img/icons/social-18.svg" alt="facebook">
        </a>
        <!-- <a href="#">
            <img width="35px" height="35px" src="assets/img/icons/social-19.svg" alt="twitter">
        </a> -->
        <a href="https://www.instagram.com/grupo_invertur/">
            <img width="35px" height="35px" src="assets/img/icons/social-20.svg" alt="instagram">
        </a>
        <!-- <a href="#">
            <img width="35px" height="35px" src="assets/img/icons/social-21.svg" alt="linkedin">
        </a> -->
    </div>
    <div>
        <a href="contacto/">
            <button class="font-myr-bold btn-green">CONTACTANOS</button>
        </a>
    </div>
    <div class="font-myr-regular font-footer-text">
        Grupo Invertur, Todos los derechos reservados - Copyright© {{anio.getFullYear()}}<br>
        diseño y desarrollo por Ennio Sáenz
    </div>
</footer>
