<div style="background-color: #26954d;">
    <img src="assets/img/img-nosotros-23.jpg" width="100%" alt="Grupo Invertur">
</div>
<div class="green-barr">
</div>
<section style="padding-bottom: 220px;" class="margen-principla">
    <div>
        <h1><p class="font-title-ucase font-myr-bold">GRUPO INVERTUR</p></h1>
        <span class="font-text font-myr-regular">Esta conformado por un grupo de empresas familiar de origen nicaragüense. 
            Tiene una trayectoria empresarial de más de 20 años, con operaciones en Nicaragua, 
            Guatemala y Costa Rica. Incluye en sus Unidades de Negocio: Importación, Distribución 
            y Comercialización de Productos de Consumo, Cosméticos, Higiénicos y Farmacéuticos, 
            Sector Turismo, Publicidad y Bienes Raíces.</span>
    </div>

    <div class="blue-rounded-back">
        <span class="font-title text-white font-myr-bold">Misión</span><br>
        <span class="font-text text-white font-myr-regular">
            Ofrecer a nuestros clientes productos y servicios de la mas alta calidad y Prestigio internacional.
        </span>
    </div>
    
    <div class="blue-rounded-back">
        <span class="font-title text-white font-myr-bold">Visión</span><br>
        <span class="font-text text-white font-myr-regular">
            Ser un grupo de empresas lideres y reconocidas en el mercado centroamericano, sobresaliendo por 
            nuestros productos, servicios y marcas. Continuar creciendo, ampliando nuestro portafolio, 
            aprovechando nuestra capacidad de hacer nuevos negocios a nivel internacional.
        </span>
    </div>

    <div class="blue-rounded-back">
        <span class="font-title text-white font-myr-bold">Valores</span><br>
        <span class="font-text text-white font-myr-regular">
            Integridad, Lealtad, Honestidad, Vínculos Humanos, Adaptabilidad.
        </span>
    </div>
    
</section>
