<div style="background-color: #26954d;">
    <img src="assets/img/real-state.jpg" width="100%" alt="puedo real state promocion">
</div>
<div class="green-barr">
</div>
<section style="padding-bottom: 220px;" class="margen-principla text-center">
    <div>
        <h1 hidden>BIENES RAÍCES</h1>
        <div class="text-center">
            <img src="assets/img/unidades/puedo-real-state.png" width="100px" alt="logo real state">
        </div>
        <div class="blue-barr"></div>
        <span class="font-text font-myr-regular">
            Dedicada al servicio de renta, venta y manejo de propiedades en zonas turísticas. 
        </span>
        <div class="blue-barr"></div>
    </div>
    
</section>
