<div style="background-color: #26954d;">
    <img [ngClass]="['web-res']" [src]="'assets/img/real-state.jpg'" width="100%" alt="puedo real state promocion">
    <img [ngClass]="['movil-res']" [src]="'assets/img/Real_Estate-movil.jpg'" width="100%" halt="puedo real state promocion">
</div>
<div class="green-barr">
</div>
<section class="margen-principla text-center">
    <div>
        <h1 hidden>{{'title-bienesraices-page' | translate}}</h1>
        <div class="text-center">
            <img src="assets/img/unidades/puedo-real-state.png" width="100px" alt="logo real state">
        </div>
        <div class="blue-barr"></div>
        <span class="font-text font-myr-regular">
            {{'texto-bienesraices-page' | translate}} 
        </span>
        <div class="blue-barr"></div>
    </div>
    
</section>
