<div style="background-color: #26954d;">
    <img [ngClass]="['web-res']" [src]="'assets/img/Yaltas-Inn.jpg'" width="100%" alt="yaltas inn promocion">
    <img [ngClass]="['movil-res']" [src]="'assets/img/Yaltas-movil.jpg'" width="100%" halt="puedo real state promocion">
</div>
<div class="green-barr">
</div>
<section class="margen-principla text-center">
    <div>
        <h1 hidden>{{'title-turismo-page' | translate}}</h1>
        <div class="text-center">
            <img src="assets/img/unidades/yaltas-Inn.png" height="100px" alt="logo yaltas inn">
        </div>
        <div class="blue-barr"></div>
        <span class="font-text font-myr-regular">
            {{'texto-turismo-page' | translate}}
        </span>
        <div class="blue-barr"></div>
    </div>
    
</section>
