<div style="background-color: #26954d;">
    <img src="assets/img/Yaltas-Inn.jpg" width="100%" alt="yaltas inn promocion">
</div>
<div class="green-barr">
</div>
<section style="padding-bottom: 220px;" class="margen-principla text-center">
    <div>
        <h1 hidden>TURISMO</h1>
        <div class="text-center">
            <img src="assets/img/unidades/yaltas-Inn.png" height="100px" alt="logo yaltas inn">
        </div>
        <div class="blue-barr"></div>
        <span class="font-text font-myr-regular">
            Hotel boutique, ubicado Guasacate Tola, una de las paradisiacas playas del pacífico Nicaragüense. 
        </span>
        <div class="blue-barr"></div>
    </div>
    
</section>
