<div [ngClass]="['backgroundHome']">
    <div>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span><span>&nbsp;ADVANTAGE</span><span>&nbsp;RESOURCES</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;WORKERS</span><span>&nbsp;FACILITIES</span>
        <span>&nbsp;IMPORT</span><span>&nbsp;EXPORT</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;TRADE</span><span>&nbsp;INTERNATIONAL</span>
    </div>

    <div>
        <span>&nbsp;FACILITIES</span><span>&nbsp;EXPORT</span><span>&nbsp;RESOURCES</span><span>&nbsp;INTERNATIONAL</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;IMPORT</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;TRADE</span>
        <span>&nbsp;ADVANTAGE</span><span>&nbsp;WORKERS</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span>
    </div>
    <div>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span><span>&nbsp;ADVANTAGE</span><span>&nbsp;RESOURCES</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;WORKERS</span><span>&nbsp;FACILITIES</span>
        <span>&nbsp;IMPORT</span><span>&nbsp;EXPORT</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;TRADE</span><span>&nbsp;INTERNATIONAL</span>
    </div>

    <div>
        <span>&nbsp;FACILITIES</span><span>&nbsp;EXPORT</span><span>&nbsp;RESOURCES</span><span>&nbsp;INTERNATIONAL</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;IMPORT</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;TRADE</span>
        <span>&nbsp;ADVANTAGE</span><span>&nbsp;WORKERS</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span>
    </div>
    <div>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span><span>&nbsp;ADVANTAGE</span><span>&nbsp;RESOURCES</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;WORKERS</span><span>&nbsp;FACILITIES</span>
        <span>&nbsp;IMPORT</span><span>&nbsp;EXPORT</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;TRADE</span><span>&nbsp;INTERNATIONAL</span>
    </div>

    <div>
        <span>&nbsp;FACILITIES</span><span>&nbsp;EXPORT</span><span>&nbsp;RESOURCES</span><span>&nbsp;INTERNATIONAL</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;IMPORT</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;TRADE</span>
        <span>&nbsp;ADVANTAGE</span><span>&nbsp;WORKERS</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span>
    </div>
    <div>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span><span>&nbsp;ADVANTAGE</span><span>&nbsp;RESOURCES</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;WORKERS</span><span>&nbsp;FACILITIES</span>
        <span>&nbsp;IMPORT</span><span>&nbsp;EXPORT</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;TRADE</span><span>&nbsp;INTERNATIONAL</span>
    </div>

    <div>
        <span>&nbsp;FACILITIES</span><span>&nbsp;EXPORT</span><span>&nbsp;RESOURCES</span><span>&nbsp;INTERNATIONAL</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;IMPORT</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;TRADE</span>
        <span>&nbsp;ADVANTAGE</span><span>&nbsp;WORKERS</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span>
    </div>
    <div>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span><span>&nbsp;ADVANTAGE</span><span>&nbsp;RESOURCES</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;WORKERS</span><span>&nbsp;FACILITIES</span>
        <span>&nbsp;IMPORT</span><span>&nbsp;EXPORT</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;TRADE</span><span>&nbsp;INTERNATIONAL</span>
    </div>

    <div>
        <span>&nbsp;FACILITIES</span><span>&nbsp;EXPORT</span><span>&nbsp;RESOURCES</span><span>&nbsp;INTERNATIONAL</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;IMPORT</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;TRADE</span>
        <span>&nbsp;ADVANTAGE</span><span>&nbsp;WORKERS</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span>
    </div>
    <div>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span><span>&nbsp;ADVANTAGE</span><span>&nbsp;RESOURCES</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;WORKERS</span><span>&nbsp;FACILITIES</span>
        <span>&nbsp;IMPORT</span><span>&nbsp;EXPORT</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;TRADE</span><span>&nbsp;INTERNATIONAL</span>
    </div>

    <div>
        <span>&nbsp;FACILITIES</span><span>&nbsp;EXPORT</span><span>&nbsp;RESOURCES</span><span>&nbsp;INTERNATIONAL</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;IMPORT</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;TRADE</span>
        <span>&nbsp;ADVANTAGE</span><span>&nbsp;WORKERS</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span>
    </div>
    <div>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span><span>&nbsp;ADVANTAGE</span><span>&nbsp;RESOURCES</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;WORKERS</span><span>&nbsp;FACILITIES</span>
        <span>&nbsp;IMPORT</span><span>&nbsp;EXPORT</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;TRADE</span><span>&nbsp;INTERNATIONAL</span>
    </div>

    <div>
        <span>&nbsp;FACILITIES</span><span>&nbsp;EXPORT</span><span>&nbsp;RESOURCES</span><span>&nbsp;INTERNATIONAL</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;IMPORT</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;TRADE</span>
        <span>&nbsp;ADVANTAGE</span><span>&nbsp;WORKERS</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span>
    </div>
    <div>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span><span>&nbsp;ADVANTAGE</span><span>&nbsp;RESOURCES</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;WORKERS</span><span>&nbsp;FACILITIES</span>
        <span>&nbsp;IMPORT</span><span>&nbsp;EXPORT</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;TRADE</span><span>&nbsp;INTERNATIONAL</span>
    </div>

    <div>
        <span>&nbsp;FACILITIES</span><span>&nbsp;EXPORT</span><span>&nbsp;RESOURCES</span><span>&nbsp;INTERNATIONAL</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;IMPORT</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;TRADE</span>
        <span>&nbsp;ADVANTAGE</span><span>&nbsp;WORKERS</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span>
    </div>
    <div>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span><span>&nbsp;ADVANTAGE</span><span>&nbsp;RESOURCES</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;WORKERS</span><span>&nbsp;FACILITIES</span>
        <span>&nbsp;IMPORT</span><span>&nbsp;EXPORT</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;TRADE</span><span>&nbsp;INTERNATIONAL</span>
    </div>

    <div>
        <span>&nbsp;FACILITIES</span><span>&nbsp;EXPORT</span><span>&nbsp;RESOURCES</span><span>&nbsp;INTERNATIONAL</span>
        <span>&nbsp;INTERMEDIATE</span><span>&nbsp;IMPORT</span><span>&nbsp;GLOBALIZATION</span><span>&nbsp;TRADE</span>
        <span>&nbsp;ADVANTAGE</span><span>&nbsp;WORKERS</span>
    </div>

    <div>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;GLOBALIZATION</span><span>&nbsp;INTERMEDIATE</span><span>&nbsp;RESOURCES</span><span>&nbsp;ADVANTAGE</span>
        <span>&nbsp;EXPORT</span><span>&nbsp;IMPORT</span><span>&nbsp;FACILITIES</span><span>&nbsp;WORKERS</span>
        <span>&nbsp;INTERNATIONAL</span><span>&nbsp;TRADE</span>
    </div>
   
    
</div>
<div [ngClass]="['homeAnmationContainer']">
    <div class=" logo-invertur-container text-center rotate-logo" >
        <!-- <button (click)="rotate()">Press me to rotate</button> -->
        <img width="18%" src="assets/img/invertur_logo_blanco.png" alt="Logo grupo invertur">
    </div>


    <div class="animateUnidades unidadConsumo"> <img width="7%" src="assets/img/unidades/unidades-28.png" alt="Consumo">
        <div style="margin-left: 15px;" class="font-text font-myr-bold font-title-ucase text-white">
            <span>{{'consumo' | translate}}</span>
        </div>
    </div>


    <div class="animateUnidades unidadPublicidad">
        <div style="margin-right: 15px;" class="font-home text-white">
            <span>{{'publicidad' | translate}}</span>
        </div>
        <img width="7%" src="assets/img/unidades/unidades-26.png" alt="Publicidad">
    </div>

    <div class="animateUnidades unidadfarmaceutica">
        <img width="7%" src="assets/img/unidades/unidades-30.png" alt="Farmaceutica">
        <div style="margin-left: 15px;" class="font-home text-white">
            <span>{{'farmaceutica' | translate}}</span>
        </div>
    </div>

    <div class="animateUnidades unidadTurismo">
        <div style="margin-right: 15px;" class="font-home text-white">
            <span>{{'turismo' | translate}}</span>
        </div>
        <img width="7%" src="assets/img/unidades/unidades-27.png" alt="Turismo">
    </div>

    <div class="animateUnidades unidadBienes" >
        <img width="7%" src="assets/img/unidades/unidades-29.png" alt="Turismo">
        <div style="margin-top:5px;" class="font-home text-white">
            <span>{{'bienes_raices' | translate}}</span>
        </div>
    </div>
</div>
<div [ngClass]="['min700pxHomeContainer']">
    <div [ngClass]="['mainlogoInverturContainerMovil']">
        <img [src]="'assets/img/invertur_logo_blanco.png'" width="80%">
    </div>
    <div [ngClass]="'home-items'">
        <div>
            <a [ngClass]="['unidadesMovil']" [routerLink]="'/consumo'" >
            <img  width="80px" src="assets/img/unidades/unidades-28.png" alt="Farmaceutica">
            <span class="font-home text-white">{{'consumo' | translate}}</span>
            </a>
        </div>
        <div>
            <a [ngClass]="['unidadesMovil']" [routerLink]="'/publicidad'" >
            <img  width="80px" src="assets/img/unidades/unidades-26.png" alt="Farmaceutica">
            <span class="font-home text-white">{{'publicidad' | translate}}</span>
            </a>
        </div>
        <div>
            <a [ngClass]="['unidadesMovil']" [routerLink]="'/farmaceutica'" >
            <img  width="80px" src="assets/img/unidades/unidades-30.png" alt="Farmaceutica">
            <span class="font-home text-white">{{'farmaceutica' | translate}}</span>
            </a>
        </div>
        <div>
            <a [ngClass]="['unidadesMovil']"[routerLink]="'/turismo'" >
            <img  width="80px" src="assets/img/unidades/unidades-27.png" alt="Farmaceutica">
            <span class="font-home text-white">{{'turismo' | translate}}</span>
            </a>
        </div>
        <div>
            <a [ngClass]="['unidadesMovil']" [routerLink]="'/bienes-raices'" >
                <img  width="80px" src="assets/img/unidades/unidades-29.png" alt="Farmaceutica">
                <span class="font-home text-white">{{'bienes_raices' | translate}}</span>
            </a>
        </div>
    </div>
</div>