<div style="background: rgb(0,122,143);
background: radial-gradient(circle, rgba(0,122,143,1) 4%, rgba(40,74,103,1) 99%);
height: 100%; width: 100%; position: absolute; z-index: -1;">
    
</div>
<div style="overflow: hidden;">
    <div class=" logo-invertur-container text-center rotate-logo" >
        <!-- <button (click)="rotate()">Press me to rotate</button> -->
        <img width="18%" src="assets/img/invertur_logo_blanco.png" alt="Logo grupo invertur">
    </div>


    <div class="animateUnidades unidadConsumo"> <img width="5%" src="assets/img/unidades/unidades-28.png" alt="Consumo">
        <div style="margin-left: 15px;" class="font-text font-myr-bold font-title-ucase text-white">
            <span>Consumo</span>
        </div>
    </div>


    <div class="animateUnidades unidadPublicidad">
        <div style="margin-right: 15px;" class="font-text font-myr-bold font-title-ucase text-white">
            <span>Publicidad</span>
        </div>
        <img width="5%" src="assets/img/unidades/unidades-26.png" alt="Publicidad">
    </div>

    <div class="animateUnidades unidadfarmaceutica">
        <img width="5%" src="assets/img/unidades/unidades-30.png" alt="Farmaceutica">
        <div style="margin-left: 15px;" class="font-text font-myr-bold font-title-ucase text-white">
            <span>Farmaceutica</span>
        </div>
    </div>

    <div class="animateUnidades unidadTurismo">
        <div style="margin-right: 15px;" class="font-text font-myr-bold font-title-ucase text-white">
            <span>Turismo</span>
        </div>
        <img width="5%" src="assets/img/unidades/unidades-27.png" alt="Turismo">
    </div>

    <div class="animateUnidades unidadBienes">
        <img width="5%" src="assets/img/unidades/unidades-29.png" alt="Turismo">
        <div style="margin-top:5px;" class="font-text font-myr-bold font-title-ucase text-white">
            <span>Bienes Raíces</span>
        </div>
    </div>
</div>