<div class="backg-orange">
    <div [ngStyle]="{'padding-top':'140px'}">
        <div class="text-center font-myr-bold font-title text-white" [ngStyle]="{'margin-bottom':'30px'}">¿COMO PODEMOS AYUDARLE?</div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-white font-myr-regular">
                    <p [ngStyle]="{'margin-bottom':'30px'}">
                        <span [ngClass]="['font-title-contact']">CORREO ELECTRÓNICO</span><br>
                        <span [ngClass]="['font-text-contact']">info@grupoinvertur.com</span><br>
                    </p>

                    <p [ngStyle]="{'margin-bottom':'30px'}">
                        <span [ngClass]="['font-title-contact']">TELÉFONOS</span><br>
                        <span [ngClass]="['font-text-contact']">+(505) 2278-7007 | +(505) 8285-0301</span><br>
                    </p>

                    <p [ngStyle]="{'margin-bottom':'30px'}">
                        <span [ngClass]="['font-title-contact']">DIRECCIÓN</span><br>
                        <span [ngClass]="['font-text-contact']">Hotel Seminole 3c. al Norte, 1c. al Este, Managua, Nicaragua</span><br>
                    </p>

                </div>
                <div class="col-md-6 ">
                    
                    <form style="margin-bottom: 30px;" [action]=""> 
                        <div class="row align-item-center">
                            <div class="col-md-12 input-contacto">
                                <input style="width: 100%; border: none;" type="text" [(ngModel)]="nombre" placeholder="Nombre">
                            </div>
                            <div class="col-md-12 input-contacto">
                                <input style="width: 100%;border: none;" type="email" [(ngModel)]="email" placeholder="Email">
                            </div>
                            <div class="col-md-12 input-contacto">
                                <input style="width: 100%;border: none;" type="text" [(ngModel)]="asunto" placeholder="Asunto">
                            </div>
                            <div  class="col-md-12 input-contacto">
                                <textarea style="width: 100%;border: none;"  rows="10" cols="50" [(ngModel)]="texto" placeholder="Texto"></textarea>
                            </div>
                            <div  class="col-md-12" style="text-align: right;">
                                <button type="button" class="btn-green-contacto">ENVIAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="green-barr" style="margin: 0;"></div>

<div style="height: 700px;">
    <app-map></app-map>
</div>
