<div class="backg-orange">
    <div [ngStyle]="{'padding-top':'140px'}">
        <div class="text-center font-myr-bold font-title text-white" [ngStyle]="{'margin-bottom':'30px'}">{{'titulo-contact' | translate}}</div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-white font-myr-regular ">
                    <p [ngStyle]="{'margin-bottom':'30px'}">
                       
                        <span [ngClass]="['font-title-contact']">{{'email-title-contact' | translate}}</span><br>
                        <span [ngClass]="['font-text-contact']">{{'email-contact' | translate}}</span><br>
                    </p>

                    <p [ngStyle]="{'margin-bottom':'30px'}">
                        <span [ngClass]="['font-title-contact']">{{'Telefono-title-contact' | translate}}</span><br>
                        <span [ngClass]="['font-text-contact']">{{'Telefono1-contact' | translate}}<br> {{'Telefono2-contact' | translate}}</span><br>
                    </p>

                    <p [ngStyle]="{'margin-bottom':'30px'}">
                        <span [ngClass]="['font-title-contact']">{{'Direccion-title-contact' | translate}}</span><br>
                        <span [ngClass]="['font-text-contact']">{{'Direccion-contact' | translate}}</span><br>
                    </p>

                </div>
                <div [ngClass]="['col-md-6', 'formContactContainer']">
                    <app-form-contact (arrayFormDataEvent)="catchFormEventData($event)"></app-form-contact>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="green-barr" style="margin: 0;"></div>

<div style="height: 500px;">
    <app-map></app-map>
</div>
