.font-title-contact{
    font-size: 14pt;
    font-weight: bold;
}

.font-text-contact{
    font-size: 14pt;
    font-weight: normal;
}

@media screen and (max-width: 600px) {
    .formContactContainer{
        padding: 25px;
    }
}

@media screen and (max-width: 530px) {
    .container div div{
        text-align: center;
    }
}
