<div style="background-color: #26954d;">
    <img src="assets/img/inverfarma.jpg" width="100%" alt="inverfarma promocion">
</div>
<div class="green-barr">
</div>
<section style="padding-bottom: 220px;" class="margen-principla text-center">
    <div>
        <h1 hidden>FARMACEUTICA</h1>
        <div class="text-center">
            <img src="assets/img/unidades/INVERFARMA.png" height="100px" alt="logo inverfarma">
        </div>
        <div class="blue-barr"></div>
        <span class="font-text font-myr-regular">
            Dedicada a la Importación, Distribución y Comercialización de productos farmacéuticos.
        </span>
        <div class="blue-barr"></div>
    </div>
    
</section>
