<div style="background-color: #26954d;">
    <img [ngClass]="['web-res']" [src]="'assets/img/inverfarma.jpg'" width="100%" alt="inverfarma promocion">
    <img [ngClass]="['movil-res']" [src]="'assets/img/Inverfarma-movil.jpg'" width="100%" halt="puedo real state promocion">
</div>
<div class="green-barr">
</div>
<section class="margen-principla text-center">
    <div>
        <h1 hidden>{{'title-inverfarma-page' | translate}}</h1>
        <div class="text-center">
            <img src="assets/img/unidades/INVERFARMA.png" height="100px" alt="logo inverfarma">
        </div>
        <div class="blue-barr"></div>
        <span class="font-text font-myr-regular">
            {{'texto-inverfarma-page' | translate}}
        </span>
        <div class="blue-barr"></div>
    </div>
    
</section>
